@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@500;600&display=swap');

::-webkit-scrollbar {
    width: 5px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.507);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: black;
}

* {
    margin: 0;
    padding: 0px;
}

.footer {
    width: 100%;
    height: 200px;
    background: rgba(10, 10, 10, 0.2);
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer .github_icon {
    z-index: 1;
    width: 50px;
}


* {
    margin: 0;
    padding: 0;
}

/* nav-bar */

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 40px;
    margin-left: 20px;
    font-family: 'Dancing Script', cursive;
}

.nav_bar ul {
    list-style: none;
    display: flex;
    gap: 50px;
    font-size: 20px;
}

.icon_link img {
    border-radius: 50%;
}


a {
    text-decoration: none;
    color: white;
}

ul>a {
    color: black;
}

.icon_link a:hover img {
    transform: scale(1.2);
}

@media screen and (max-width : 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;

    }

    .nav_bar ul {
        flex-direction: column;
        align-items: center;
        width: 100vw;
        padding-top: 20px;
        gap: 2rem;
    }

    .icon_link {
        display: none;
    }

}


/* Home 화면 */
.wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
}

.typing_effect-m {
    width: 29ch;
    animation: typing 5s steps(32);
    white-space: nowrap;
    overflow: hidden;
    /* font-family: 'Dancing Script', cursive; */
    font-size: 2.5em;
}

@keyframes typing {
    from {
        width: 0
    }

}

.footer {
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0);
    position: relative;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer #copyright {
    font-size: 18px;
}

.footer .github_icon {
    z-index: 1;
    width: 50px;


}

.skill-section {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 30vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.skill-section div{
    gap: 30px;
}





@keyframes blink {
    50% {
        border-color: transparent;
    }
}