
    
    @font-face {
    font-family:'Mosk-Normal-400';
    font-style: normal;
    font-weight: normal;
    src: local('Mosk-Normal-400'),  format('woff');
    }
    
    @font-face {
    font-family:'Mosk-Light-300';
    font-style: normal;
    font-weight: normal;
    src: local('Mosk-Light-300'), format('woff');
    }
    
    @font-face {
    font-family: 'Degarism-Studio-Alliance-No.1-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Degarism-Studio-Alliance-No.1-Light'), format('woff');
    }
    @font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    }
    
    
    
    