



@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Inspiration&family=Poppins&family=Roboto+Condensed:wght@400;700&display=swap');
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);

/* root ===================================================*/
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  font-family: 'Poppins', sans-serif;
}

body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#preload {
  display: none;
}

/* Color design ===================================================*/
#IwillUseThisColor {
  color: #4ad7d1 #fe4a49 #161c24;
}

::-moz-selection {
  background: #fe4a49;
  color: #ffffff;
}

::selection {
  background: #fe4a49;
  color: #ffffff;
}


/* Font Color */
.header_title {
  color: #ffffff;
}

.article_title {
  color: black;
}

.footer_container {
  color: #444649;
}

.highlight {
  color: #2c168f;
}

.highlight::selection {
  color: rgba(0, 0, 0, 0.8);
}

/* Modal*/


/* Canvas */
canvas {
  position: absolute;
  width: 100%;
  height: 30%;
}
/* Header */
.header {
  position: static;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background: black;
  background-size: 100% 100%;
}

.header_overlay {
  top: 0;
  position: fixed;
  width: 100%;
  height: 20%;
}

.header-layer {
  position: absolute;
}

.header_container {
  padding-top: 180px;
  -js-display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
}

.header_title {
  margin-top: 20px;
  text-align: center;
  font-size: 5.8em;
  font-weight: 600;
  letter-spacing: 30px;
}
.typing-effect{
  width: 12ch;
  animation: typing 2.5s steps(11);
  white-space: nowrap;
  overflow: hidden;
  animation-delay: 1s;
}
@keyframes typing {
  from {
      width: 0
  }

}
.header .image-div{
  width: 100%;
  height: 500px;
  position: absolute;
  bottom: -100px;
  left: 460px;
  /* display: none; */
}
@media screen and (max-width:768px){
  .header_container .header_title p{
    width: 100%;
    font-size: 3rem;
  }

}
#svg{
  fill: green;
}
.header .tree, .header .apple{
  opacity: 0;
}  
.header .apple{
  position: absolute;
  left: 60px;
  top: 100px;
  animation: apple 2s infinite linear;
  
}
@keyframes apple{
  30%{
    rotate: 20deg;
  }
}

/* Nav =================================================== */
.nav {
  position: absolute;
  -js-display: flex;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #161c24;
  z-index: 1;
}

.nav_container {
  position: relative;
  -js-display: flex;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  /* margin: auto; */
}

.nav_menu {
  -js-display: flex;
  display: flex;
  align-items: center;
  margin-right: 5%;
  font-size: 1.1em;
  font-weight: 400;
  color: white;
}

.nav_button {
  display: none;
}

.nav_mobile_container {
  display: none;
}

/* Section, Article */
.section {
  position: relative;
  -js-display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  overflow: none;
}

.article_title_wrap {
  box-sizing: initial;
  -js-display: flex;
  display: flex;
  justify-content: center;
  padding: 80px 0;
  width: 100%;
  height: max-content;
  text-align: center;
}
.article_title_wrap.project-title{
  padding-top: 250px;
}

.article_title_wrap .article_title {
  position: relative;
  width: max-content;
  height: max-content;
  font-size: 2em;
  font-weight: 600;
  border-bottom: 3px solid rgba(0, 0, 0, 0.575);
}

/* About part  */
.section_myinfo{
  position: relative;
}
.section_myinfo .article_myinfo {
  -js-display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
}
.article_myinfo .nav div a{
  text-decoration: none;
  color: white;
}

.myinfo_container {
  -js-display: flex;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 5%;
}

.myinfo_introduce {
  margin-bottom: 5%;
  padding: 20px;
  -js-display: flex;
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 50%;
  height: 100%;
  border-right: 2.4px dotted #e6e6e6;
}

.myinfo_introduce_title {
  margin-bottom: 5.5%;
  font-size: 1.6em;
  font-weight: 400;
}

.myinfo_introduce_text {
  margin-bottom: 4.5%;
  width: 100%;
  height: 70%;
  line-height: 1.8em;
  font-size: 1em;
  font-weight: 300;
}

.intro{
  margin-top: 30px;
}

.top_content{
  display: block;
  position: relative ;
  margin-top: 150px;
  font-size: 1.8rem;
  line-height: 70px;
  text-align: center;
  height: 450px;
}
.intro .myself_content p{
  
  font-size: 1.6rem;
}
.myself-wrap{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.myself-wrap .myself-right,.myself-wrap .myself-left{
  width: 35%;
  padding:0 5%;
  border: solid;
  line-height: 2.2rem;
}

.skill_wrap{
  position: relative;
}
.skill_content{
  font-size: 1.2rem;
  display: block;
  position: relative ;
  margin-top: 150px;
  font-size: 1.8rem;
  line-height: 70px;
  text-align: center;
  height: 150px;
}
#skills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#skills .row{
  display: flex;
  gap: 3rem;
}


.wrap {
  position: relative;
  font-family: 'Nanum Brush Script', cursive;
  width: 100%;
  left: 50%;
  transform: translateX(-25%);
  margin: auto;

}

.wrap:hover .border {
  transform: rotateY(-20deg) skewY(8deg);
}

.wrap:hover .content {
  transform: rotateY(20deg) skewY(-8deg);
}

.wrap .border {
  position: absolute;
  transition: .2s;
}

.wrap .border::before {
  content: '';
  position: absolute;
  width: 600px;
  height: 400px;
  border-left: 20px solid #e1e1e1;
  border-bottom: 20px solid #e1e1e1;

  border-radius: 30px;
}

.wrap .border::after {
  content:'';
  position: absolute;
  width: 600px;
  height: 400px;
  border-right: 20px solid #e1e1e1;
  border-top: 20px solid #e1e1e1;
  border-radius: 30px;
}

.wrap .border .content {
  top: 35px;
  left: -40px;
  position: absolute;
  width: 700px;
  height: 350px;
  background-color: #2a2a2a;
  border-radius: 30px;
  filter: drop-shadow(4px 5px 7px rgb(0 0 0 / 60%));
  transition: .2s;
  /* z-index: 1; */
}

.wrap .border .content .icon-I {
  position: absolute;
  width: 100%;
  height: 60px;
  background-color: #991A3B;
  border-radius: 30px 30px 0 0;
}

.wrap .border .content p {
  position: relative;
  padding: 0px 20px;
  top: 100px;
  background-color: #2a2a2a;
  color: #e1e1e1;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 3px;
}
/* Project part */
.section_project {
  -js-display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  height: max-content;
}

.article_project {
  -js-display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  width: 100%;
  background-color: #ffffff;
}

.project_container {
  position: relative;
  -js-display: flex;
  display: flex;
  margin-bottom: 8%;
  width: 100%;
  justify-content: space-evenly;
}

.project_container3 {
  padding-bottom: 20%;
}

.project_img {
  /* width: 35%; */
  transition: all 0.3s ease-in-out;
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;
  width: 500px;
}

.project_img1 {
  background-image: url("../images/JUNEMOVIE.png");
}
.project_img2 {
  background-image: url("../images/스타벅스1.png");
  order: 2;
}
.project_img3 {
  background-image: url("../images/스타벅스2.png");
}

.project_intro {
  margin: 2%;
  width: 30%;
  justify-content: center;
  align-items: center;
}
.project_intro .project_intro_text p:nth-child(2){
  margin-top: 40px;
  line-height: 30px;
}


.project_intro2 {
  order: 1;
}

.project_intro_title {
  padding: 0 5%;
  width: 100%;
  font-size: 2em;
  font-weight: 500;
  justify-content: flex-start;
  letter-spacing: 0.06em;
}

.project_intro_title span {
  font-size: 1.2em;
  margin-right: 15px;
  letter-spacing: 0;
  justify-items: flex-start;
  /* padding-left: 20px; */
}

.project_intro_text {
  padding: 6% 5%;
  width: 100%;
  font-size: 1em;
  font-weight: 300;
}

.project_intro_text p {
  margin-bottom: 4%;
  line-height: 1.5em;
}

.project_intro_text span {
  margin-right: 10px;
  font-weight: 600;
  font-style: oblique;
  padding-left: 10%;
}

.project_intro_button_box {
  -js-display: flex;
  display: flex;
  height: 35px;
  width: 40%;
  margin-top: 3%;
  justify-content: center;
  align-items: center;
}

.project_intro_button_box .project_intro_button {

  width: 100px;
  line-height: 30px;
  font-size: 1.1em;
  font-weight: 400;
  text-align: center;
  border: 1.5px solid #000000;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.project_intro_button:hover {
  color: white;
  background-color:rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
}
.project_intro_button p{
  font-size: 1em;
}

.project_intro_button2 {
  margin-top: 3%;
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  background: #E6150B;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* CONTACT */



.bouncee{

  margin-top: 300px;
  margin-bottom: 300px;
  position: relative;
  width: 100%;
  height: 300px;
  background: #991A3B;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouncee h1 {
  height: 100px;
  background-color: transparent;
}

.bouncee h1 span {
  position: relative;
  top: 20px;
  background-color: transparent;
  display: inline-block;
  animation: bounce .3s ease infinite alternate;
  font-family: 'Titan One', cursive;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-size: 80px;
  color: #FFF;
  text-shadow: 0 1px 0 #CCC,
      0 2px 0 #CCC,
      0 3px 0 #CCC,
      0 4px 0 #CCC,
      0 5px 0 #CCC,
      0 6px 0 transparent,
      0 7px 0 transparent,
      0 8px 0 transparent,
      0 9px 0 transparent,
      0 10px 10px rgba(0, 0, 0, .4);
}

.bouncee h1 span:nth-child(2) {
  animation-delay: .1s;
}

.bouncee h1 span:nth-child(3) {
  animation-delay: .2s;
}

.bouncee h1 span:nth-child(4) {
  animation-delay: .3s;
}

.bouncee h1 span:nth-child(5) {
  animation-delay: .4s;
}

.bouncee h1 span:nth-child(6) {
  animation-delay: .5s;
}

.bouncee h1 span:nth-child(7) {
  animation-delay: .6s;
}

.bouncee h1 span:nth-child(8) {
  animation-delay: .7s;
}

@keyframes bounce {
  100% {
      top: -20px;
      text-shadow: 0 1px 0 #CCC,
          0 2px 0 #CCC,
          0 3px 0 #CCC,
          0 4px 0 #CCC,
          0 5px 0 #CCC,
          0 6px 0 #CCC,
          0 7px 0 #CCC,
          0 8px 0 #CCC,
          0 9px 0 #CCC,
          0 50px 25px rgba(0, 0, 0, .2);
  }
}


/* Footer */
.footer {
  width: 100%;
  height: 200px;
  background: rgba(10, 10, 10, 0.2);
  position: relative;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer .github_icon {
  z-index: 1;
  width: 50px;
}

.footer {
  width: 100%;
  height: 200px;
  background: rgba(0, 0, 0, 0);
  position: relative;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer #copyright {
  font-size: 18px;
}

.footer .github_icon {
  z-index: 1;
  width: 50px;


}


/* footer */
#footer {
	width: 100%;
	height: 7.5rem;
	background: #121111;
}

#footer .footer_cont {
	width: 86%;
	padding: 2.5rem 0;
	margin: 0 auto;
	border-top: 1px solid #505050;
}

#footer .footer_flex_wrap {
	display: flex;
	justify-content: space-between;
}

#footer .footer_flex_wrap .ft_flex_box {
	width: 33.3%;
	font-size: 1rem;
}

#footer .footer_flex_wrap .copyright {
	color: #5f5f5f;
}

#footer .footer_flex_wrap .like_email {
	text-align: center;
	color: #e7e7e7;
	padding: 0.5rem 0;
}

#footer .footer_flex_wrap .like_email a {
	color: #e7e7e7;
	position: relative;
	border-bottom: 1px solid #505050;
}

#footer .footer_flex_wrap .like_email a::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	height: 100%;
	border-bottom: 1px solid #e7e7e7;
	width: 0;
}

#footer .footer_flex_wrap .like_email a:hover::before {
	width: 100%;
}

#footer .footer_flex_wrap .icon_wrap {
	padding: 0.5rem 0;
}

#footer .footer_flex_wrap .icon_wrap li {
	float: right;
	margin-left: 1.2rem
}

#footer .footer_flex_wrap .icon_wrap li:first-child {
	margin-right: 0;
}

#footer .footer_flex_wrap .icon_wrap li a i {
	color: #5f5f5f;
	font-size: 1.2rem;
}

#footer .footer_flex_wrap .icon_wrap li a i:hover {
	transition: all 0.3s;
	color: #e7e7e7;
}


@keyframes coverleft {
  0% {
    transform: scaleX(1) skewX(30deg);
    transform-origin: left;
  }

  100% {
    transform: scaleX(0) skewX(30deg);
    transform-origin: left;
  }
}

@keyframes coverright {
  0% {
    transform: scaleX(0) skewX(20deg);
    transform-origin: left;
  }

  100% {
    transform: scaleX(1) skewX(20deg);
    transform-origin: left;
  }
}
